/* Reset and base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* White text color */
}

/* Navbar styles */
.navbar {
    background-color: #121212 !important; /* Ensure navbar background is dark */
    border-bottom: 1px solid #121212;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
    transition: background-color 0.3s ease; /* Smooth hover transition */
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #333333; /* Darken on hover */
}

.navbar .user-info {
    display: flex;
    align-items: center;
}

.navbar .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Main content area */
.main-content {
    padding: 20px;
    height: 100vh; /* Full height of viewport */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}


/* Dashboard components */
.dashboard .chart-container {
    background-color: #1e1e1e; /* Dark chart container background */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dashboard .chart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dashboard .chart-header .timeframes button{
    background-color: #333333; /* Dark button background */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.dashboard .title {
    font-size: 24px;
    font-weight: bold;
}

.dashboard .date {
    font-size: 14px;
    color: #888888; /* Lighter text color */
}

.dashboard .chart-header .timeframes button:hover,
.dashboard .chart-header .indicators button:hover {
    background-color: #444444; /* Darken on hover */
}

.dashboard .chart-header .timeframes button:focus,
.dashboard .chart-header .indicators button:focus,
.nav-link:focus,
.logout:focus,
.dashboard .tracking .track-item button:focus,
.dashboard .chart-header .timeframes button:active,
.dashboard .chart-header .indicators button:active,
.nav-link:active,
.logout:active,
.dashboard .tracking .track-item button:active {
    outline: none;
    box-shadow: none;
    background-color: #333333; /* Black background on focus */
}

.dashboard .tracking {
    display: flex;
    justify-content: space-between;
}

.dashboard .tracking .track-item {
    background-color: #333333; /* Dark tracking item background */
    padding: 20px;
    border-radius: 10px;
    width: calc(33.33% - 10px); /* 33.33% width with gap compensation */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .tracking .track-item input[type="text"] {
    background-color: #1e1e1e; /* Dark input background */
    color: #ffffff; /* White text color */
    border: none;
    padding: 10px;
    width: calc(70% - 10px); /* Adjust width of input */
    border-radius: 5px;
    margin-right: 10px; /* Spacing between input and button */
}

.dashboard .tracking .track-item button {
    background-color: #333333; /* Dark button background */
    color: white;
    border: none;
    padding: 10px 15px; /* Increased padding for better touch area */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.dashboard .tracking .track-item button:hover {
    background-color: #444444; /* Darken on hover */
}

.dashboard .tracking .track-item button:focus,
.dashboard .tracking .track-item button:active {
    outline: none;
    box-shadow: none;
    background-color: #333333; /* Black background on focus */
}



/* Dropdown styles */
.dashboard .dropdown {
    background-color: #333333;
    border-radius: 10px;
}

.dashboard .dropdown button {
    background-color: #333333;
    border: none;
}

.dashboard-container {
    display: flex;
}

.graph-container {
    flex: 1;
}

.update-plot-section {
    margin-left: 20px;
}

.dashboard .dropdown button:hover {
    background-color: #444444;
}

.dashboard .dropdown button:focus,
.dashboard .dropdown button:active {
    outline: none;
    box-shadow: none;
    background-color: #333333; /* Black background on focus */
}
